/* {
  box-sizing: border-box;
} */

html {
  font-family: Arvo;
}

body {
  height: 100%;
  background-color: #2F2FA2;
  margin: 0;
  color: white;
  overflow-x: hidden;
}

body p {
  width: 80%;
  padding: 0 0 10% 10%;
}

/* Nav Bar */

nav {
  display: flex;
  align-items: row;
  justify-content: space-between;
  background-color: #F64C72;
}

nav ul, nav li{
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


nav.desktop a, 
nav.desktop div {
  text-decoration: none;
  width: 100%;
  padding: 2vw 0 2vw 0;
  text-align: center;
  color: white;
  font-size: 2vw;
}

nav.desktop ul {
  margin: 0;
  padding: 0;
}

nav.desktop a:hover, 
nav.desktop div:hover {
  cursor: pointer;
  background-color: #C43C5b;
}

nav.desktop div a:hover {
  background-color: #8080da;
}

nav.desktop div a {
  margin-top: 2vw;
  width: 20%;
  justify-content: center;
}

.desktop-dropdown-content {
  display: none;
  position: absolute;
  background-color: #5353cd;
  min-width: 20vw;
  padding: 1vw 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mobile {
  display: none;
}

/* index.html */

#fname, #lname {
  position: relative;
  font-size: 9vw;
  text-align: center;
  margin: 0;
}

#fname {
  padding-top: 8%;
  animation-name: fname;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#lname {
  padding-bottom: 5%;
  animation-name: lname;
  animation-duration: 4s;
  animation-fill-mode: forwards;  
}

#about-me {
  text-align: center;
  font-style: italic;
  opacity: 0;
  font-size: 3vw;
  animation-name: about-me;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

#contact-info {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  font-size: 2vw;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #202071;
}

@keyframes fname {
  0%   { transform: translate(-100%, 0) rotate(0deg); }
  100% { transform: translate( 0%, 0) rotate(360deg); }
}

@keyframes lname {
  0%   { transform: translate(100%, 0) rotate(360deg); }
  100% { transform: translate( 0%, 0) rotate(0deg); }
}

@keyframes about-me {
  from { opacity: 0;}
  to { opacity: 1;}
}

/* Education.html */

.education h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.75vw;
  text-decoration: underline;
}

.education .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.education .container div:not(.ap-list) {
  width: 45%;
  height: 16vw;
  border: 1px solid white;
  margin: 1.25vw;
  background-color: #202071;
  border-radius: 2%;
}

.education .container div h2 {
  display: flex;
  font-size: 1.75vw;
  align-items: center;
  justify-content: center;
}

.education .container div ul {
  font-size: 1.75vw;
  padding-left: 5vw;
}

.education .container #AP {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.education .container #AP div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.education.container #AP div ul {
  padding: 0;
}

/* Experience.html */

.experience h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.75vw;
  text-decoration: underline;
}

#HydraCor, #STEM {
  display: flex;
  margin: 2vw 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  background-color: #202071;
  border: 1px solid white;
  border-radius: 2%;
}

#HydraCor #title, #STEM #title {
  font-size: 3.5vw;
  width: 25%;
  justify-content: center;
}

#HydraCor #list, #STEM #list {
  font-size: 2.5vw;
  width: 55%;
}

/* Projects.html */

.projects h1 {
  display: flex;
  align-items: row;
  justify-content: center;
  font-size: 3.75vw;
  text-decoration: underline;
}

.projects h2 {
  text-align: center;
  font-size: 3vw;
}

.projects .text, .projects .img {
  display: flex;
  flex-direction: column;
  width: 47.5%;
  margin: 1vw;
}

.projects .text {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}

.projects .text p {
  padding: 0 0 3% 0;
}

.projects .text a {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 0 40% 0 40%;
  height: 20%;
  border-radius: 2%;
  background-color: #202071;
}

.projects .text a:hover {
  background-color: #101038;
}

.projects .img {
  border: .25vw solid rgba(0, 0, 0, 0);
}

.projects .img:hover {
  border: .25vw solid rgba(0, 0, 0, 1);
}

.projects img {
  max-height: 35vw;
}

.projects #python, .projects #html-css-js {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.projects #hangman, #war, #bank, #cookie-clicker, #covid {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 5%;
}

.projects #python #war, .projects #html-css-js #cookie-clicker {
  display: flex;
  flex-direction: row-reverse;
}

.projects #python #war .text p{
  font-size: 1.4vw;
  margin-top: 1%;
  margin-bottom: 1%;
}

.projects #python #war .text h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Contact-Me.html */

.contact-me h1 {
  display: flex;
  justify-content: center;
}

.contact-me #contact-me-form {
  display: flex;
  flex-direction: column;
}

.contact-me div.contact-me-form {
  width: 60%;
  margin: 1% 18%;
  padding: 1vw 2%;
  border: 1px solid white;
  border-radius: 3%;
  background-color: #5353cd;
}

::placeholder {
  color: white;
  font-size: 1vw;
}

.contact-me input[type=text], .contact-me input[type=email] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background-color: #5353cd;
  width: 98%;
  padding: 1vw 0;
  margin: .5vw 0;
  color: white;
}

.contact-me input[type=text]:focus, .contact-me input[type=email]:focus {
  border: 2px solid white;
}

.contact-me #message {
  resize: none;
  width: 98%;
  border: 2px solid white;
  background-color: #5353cd;
}

.contact-me label {
  font-size: 2vw;
}

.contact-me #contact-form-submit-btn {
  width: 40%;
  margin: 0 30%;
  padding: 2% 0;
}

@media only screen and (max-width: 680px) {

/*   
                          TO DO


  when you open contact form, go to a new page, when you submit, close the window

  textarea focus is broken
  
  add height media query: look at these media queries: https://replit.com/@RussellLeung/62-Media-Queries#style.css

  add copyright thing at bottom

  make a form: under contact me put an option for a form that is an a tag and links the user to a new page of html (target="_blank") with a html form on it customized

  need a media query for height as well as width: if height is too large, move the title russell leung + catchphrase down by a percent of the screen height
  */

/* Nav Bar <-- place title of page in the center of title bar so viewers know what they are looking at

/* https://stackoverflow.com/questions/44207293/adding-a-drop-down-menu-to-three-line-menu-icon */
  
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    height: 15%;
  }

  nav.mobile ul {
    flex-direction: column;
    align-items: flex-end;
  }

  nav.mobile li{
    display: flex;
    width: 5vw;
    margin-right: 6vw;
    align-items: flex-end;
    flex-direction: column;
  }

  nav.mobile .bar1, .bar2, .bar3 {
    display: flex;
    justify-content: center;
    width: 5vw;
    height: 1vw;
    margin: .1vw;
    border-radius: 10%;
    padding: 0;
    background-color: white;
  }

  nav.mobile .mobile_dropdown_content {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 6vw;
    right: 3vw;
    z-index: 1;
  }

  nav.mobile .mobile-dropbtn:hover{
    cursor: pointer;
  }
  
  nav.mobile .mobile_dropdown_content a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 2vw 1vw 2vw 1vw;
    background-color: #5353CD;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
  }

  nav.mobile .mobile_dropdown_content a:hover{
    background-color: #8080da;
  }


  .education .container {
    flex-direction: column;
    align-items: center;
  }

  .education .container div {
    width: 80% !important;
  }

  .education #work-experience {
    display: flex;
    align-items: center;
  }

  #HydraCor, #STEM {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5% 10%;
  }

  #HydraCor #title, #STEM #title {
    width: 100%;
    padding-left: 5vw;
  }

  .projects .text, .projects .img {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 2.5%;
  }

  .projects img {
    max-height: 55vw;
  }

  .projects .text {
    height: 37vw;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .projects #hangman, #war, #bank, #cookie-clicker, #covid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 5%;
  }

  .projects #python #war, .projects #html-css-js #cookie-clicker {
    display: flex;
    flex-direction: column;
  }

  .projects #python #war .text p {
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .projects #python #war .text {
    height: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .projects .text {
    height: 50vw;
    margin-bottom: 20vw;
  }

  .projects .img {
    margin-top: 5vw;
    margin-bottom: 3vw;
  }

  .projects .text a {
    font-size: 13px;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  #cookie-clicker .text, #covid .text {
    margin-bottom: 5vw;
  }
}